{
    "extends": "airbnb",
    "parser": "babel-eslint",
    "parserOptions": {
        "sourceType": "module",
        "ecmaVersion": 6,
        "ecmaFeatures": {
            "jsx": true,
            "experimentalObjectRestSpread": true
        },
        "allowImportExportEverywhere": false,
        "codeFrame": false
    },
    "env": {
        "node": true,
        "browser": true,
        "es6": true,
        "jest": true
    },
    "rules": {
        "arrow-parens": "off",
        "linebreak-style": [
            "error",
            "windows"
        ],
        "no-console": "off",
        "comma-dangle": [
            "error",
            "never"
        ],
        "no-unused-vars": 0,
        // "no-unused-vars": [
        //     "error",
        //     {
        //         "vars": "none",
        //         "args": "none"
        //     }
        // ],
        "react/jsx-filename-extension": 0,
        "indent": [
            "warn",
            2
        ],
        "react/prop-types": 0,
        "jsx-a11y/anchor-is-valid": [
            "error",
            {
                "components": [
                    ""
                ],
                "specialLink": [
                    "hrefLeft",
                    "hrefRight"
                ],
                "aspects": [
                    "noHref",
                    "invalidHref",
                    "preferButton"
                ]
            }
        ]
    }
}